body {
  background-color: #00bfff;
  color: #fff;
  width: 400px;
  margin: 50px auto;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Lobster', cursive;
}

#user-input {
  color: #000;
  font-weight: bold;
  width: 250px;
  margin-bottom: 20px;
}